body {
  text-align: center;
}


h1, h2, h3, h4, h5, h6 {
  color: #ffa31a;
}

.title {
  font-family: 'Noto Sans Mono', monospace;

  
}

#main-title {
  padding-top: 10%;
  padding-bottom:10%;

  
}

.background {
  background-color: 	#1b1b1b;
}  


.card {
  outline-style: solid;
  min-height: 360px;
}

.game-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 50%;
  width:50%;
  height:50%;
  
}

.game-title {
  padding-top: 15px;
}

.game-description{
  font-family: 'Public Sans', sans-serif;
  line-height: 32px;
}

.iframe {
  width: 800px;
  height: 800px;
}


#space-filler {
  padding-top: 100px;
  

  
}

.padding-form {
  padding-top:50px;
}


.form-background {
  background-color: 	#ffa31a;
}




#select-file {
  padding-top: 100px;
  padding-left: 100px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 200px;

  

}
/* hey I am listing to the book for english rn*/ 
/* type here ok just give me a second to finish this thing rq ok what is the app.route? the url yeah nvm looks good I can fix up the css a bit*/
#file_upload {
  background-color: #553939;
}

.file_upload {
  padding-right:200px;
  padding-top:300px;
  
}